<a href="https://colab.research.google.com/github/dbarrer5/milestone-02/blob/main/Mini_Assignment_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Mini Assignment 6. Data Cleaning & Preparation
Please add one code cell after each question and create a program to answer the question. Make sure your code runs without error. After you are finished, click on File -> Print -> Save as PDF to create a PDF output and upload it on Brightspace.

NOTE: Make sure your PDF does not have your name or any identifying information in the name or content of the file. Anonymity is essential for the peer-review process.

##Data Ingestion & Cleaning

1. Ingest [the Census 2017 dataset](https://drive.google.com/file/d/1bXZmQVLq0bG29mmIhsQneXUzCQ20Qpaj/view?usp=sharing) into a dataframe. Make sure string like ‘na’ and ‘NA’ are identified as missing values. Then check out the first few rows, descriptive statistics, and data type for each column of the dataset.

In [ ]:
import pandas as pd
import numpy as np

census = pd.read_csv('cns2017_county_data.csv', na_values=['na','n/a'])
census.head() #first few rows
census.describe() # descriptive statistics
census.info() #data tpye for each column or census.dtypes

2. Check if there are any duplicate records (rows). How many duplicate records are there?

In [ ]:
#The number of True can be counted with sum() method.
census.duplicated().sum()

0

3. Display the ratio (in percentage) of missing values for each column. Then drop any column that has over 50% of missing values.

 Next, do the same for the rows; meaning drop the rows with over 50% missing values. Display the number of rows before and after you drop such rows.

In [ ]:
((census.isnull().sum()/len(census)*100).sort_values())

#No columns with 50% missing values
census = census.dropna(axis = 1, thresh = len(census)*0.5)
#Drop rows with over 50%
census = census.dropna(axis = 0, thresh = 37*0.5)
len(census.index)
census

3215

4. For the remaining missing values in the dataframe, fill them all with the median value of its column.

In [ ]:
#Did not include columns with 0% missing values
census = census.fillna(census.median())
census

,CountyId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga County,55036,26899.0,28137.0,2.7,75.4,18.9,0.3,...,0.6,1.3,2.5,25.8,24112.0,74.1,20.2,5.6,0.1,5.2
1,1003,Alabama,Baldwin County,203360,99527.0,103833.0,4.4,83.1,9.5,0.8,...,0.8,1.1,5.6,27.0,89527.0,80.7,12.9,6.3,0.1,5.5
2,1005,Alabama,Barbour County,26201,13976.0,12225.0,4.2,45.7,47.8,0.2,...,2.2,1.7,1.3,23.4,8878.0,74.1,19.1,6.5,0.3,12.4
3,1007,Alabama,Bibb County,22580,12251.0,10329.0,2.4,74.6,22.0,0.4,...,0.3,1.7,1.5,30.0,8171.0,76.0,17.4,6.3,0.3,8.2
4,1009,Alabama,Blount County,57667,28490.0,29177.0,9.0,87.4,1.5,0.3,...,0.4,0.4,2.1,35.0,21380.0,83.9,11.9,4.0,0.1,4.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,72145,Puerto Rico,Vega Baja Municipio,54754,26269.0,28485.0,96.7,3.1,0.1,0.0,...,1.4,0.6,0.9,31.6,14234.0,76.2,19.3,4.3,0.2,16.8
3216,72147,Puerto Rico,Vieques Municipio,8931,4351.0,4580.0,95.7,4.0,0.0,0.0,...,5.0,0.0,1.7,14.9,2927.0,40.7,40.9,18.4,0.0,12.8
3217,72149,Puerto Rico,Villalba Municipio,23659,11510.0,12149.0,99.7,0.2,0.1,0.0,...,2.1,0.0,2.8,28.4,6873.0,59.2,30.2,10.4,0.2,24.8
3218,72151,Puerto Rico,Yabucoa Municipio,35025,16984.0,18041.0,99.9,0.1,0.0,0.0,...,1.4,1.8,0.1,30.5,7878.0,62.7,30.9,6.3,0.0,25.4
3219,72153,Puerto Rico,Yauco Municipio,37585,18052.0,19533.0,99.8,0.2,0.0,0.0,...,1.7,0.1,5.0,24.4,8995.0,66.4,28.7,5.0,0.0,24.0

## Data Preparation

5. Encode the state names using label encoding, and store the encoded column in a new column called 'state_coded'.

In [ ]:
census["State"] = census["State"].astype('category')
census["state_coded"] = census["State"].cat.codes
census

,CountyId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,state_coded
0,1001,Alabama,Autauga County,55036,26899.0,28137.0,2.7,75.4,18.9,0.3,...,1.3,2.5,25.8,24112.0,74.1,20.2,5.6,0.1,5.2,0
1,1003,Alabama,Baldwin County,203360,99527.0,103833.0,4.4,83.1,9.5,0.8,...,1.1,5.6,27.0,89527.0,80.7,12.9,6.3,0.1,5.5,0
2,1005,Alabama,Barbour County,26201,13976.0,12225.0,4.2,45.7,47.8,0.2,...,1.7,1.3,23.4,8878.0,74.1,19.1,6.5,0.3,12.4,0
3,1007,Alabama,Bibb County,22580,12251.0,10329.0,2.4,74.6,22.0,0.4,...,1.7,1.5,30.0,8171.0,76.0,17.4,6.3,0.3,8.2,0
4,1009,Alabama,Blount County,57667,28490.0,29177.0,9.0,87.4,1.5,0.3,...,0.4,2.1,35.0,21380.0,83.9,11.9,4.0,0.1,4.9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,72145,Puerto Rico,Vega Baja Municipio,54754,26269.0,28485.0,96.7,3.1,0.1,0.0,...,0.6,0.9,31.6,14234.0,76.2,19.3,4.3,0.2,16.8,39
3216,72147,Puerto Rico,Vieques Municipio,8931,4351.0,4580.0,95.7,4.0,0.0,0.0,...,0.0,1.7,14.9,2927.0,40.7,40.9,18.4,0.0,12.8,39
3217,72149,Puerto Rico,Villalba Municipio,23659,11510.0,12149.0,99.7,0.2,0.1,0.0,...,0.0,2.8,28.4,6873.0,59.2,30.2,10.4,0.2,24.8,39
3218,72151,Puerto Rico,Yabucoa Municipio,35025,16984.0,18041.0,99.9,0.1,0.0,0.0,...,1.8,0.1,30.5,7878.0,62.7,30.9,6.3,0.0,25.4,39
3219,72153,Puerto Rico,Yauco Municipio,37585,18052.0,19533.0,99.8,0.2,0.0,0.0,...,0.1,5.0,24.4,8995.0,66.4,28.7,5.0,0.0,24.0,39

6. Bin the TotalPop column into six equally-sized bins, and store it as a new column called "TotalPop_bins".

In [ ]:
bins = pd.qcut(census['TotalPop'],q=6)

census['TotalPop_bins'] = bins
census

,CountyId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,state_coded,TotalPop_bins
0,1001,Alabama,Autauga County,55036,26899.0,28137.0,2.7,75.4,18.9,0.3,...,2.5,25.8,24112.0,74.1,20.2,5.6,0.1,5.2,0,"(45751.333, 114963.333]"
1,1003,Alabama,Baldwin County,203360,99527.0,103833.0,4.4,83.1,9.5,0.8,...,5.6,27.0,89527.0,80.7,12.9,6.3,0.1,5.5,0,"(114963.333, 10105722.0]"
2,1005,Alabama,Barbour County,26201,13976.0,12225.0,4.2,45.7,47.8,0.2,...,1.3,23.4,8878.0,74.1,19.1,6.5,0.3,12.4,0,"(25855.0, 45751.333]"
3,1007,Alabama,Bibb County,22580,12251.0,10329.0,2.4,74.6,22.0,0.4,...,1.5,30.0,8171.0,76.0,17.4,6.3,0.3,8.2,0,"(15394.333, 25855.0]"
4,1009,Alabama,Blount County,57667,28490.0,29177.0,9.0,87.4,1.5,0.3,...,2.1,35.0,21380.0,83.9,11.9,4.0,0.1,4.9,0,"(45751.333, 114963.333]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,72145,Puerto Rico,Vega Baja Municipio,54754,26269.0,28485.0,96.7,3.1,0.1,0.0,...,0.9,31.6,14234.0,76.2,19.3,4.3,0.2,16.8,39,"(45751.333, 114963.333]"
3216,72147,Puerto Rico,Vieques Municipio,8931,4351.0,4580.0,95.7,4.0,0.0,0.0,...,1.7,14.9,2927.0,40.7,40.9,18.4,0.0,12.8,39,"(7821.667, 15394.333]"
3217,72149,Puerto Rico,Villalba Municipio,23659,11510.0,12149.0,99.7,0.2,0.1,0.0,...,2.8,28.4,6873.0,59.2,30.2,10.4,0.2,24.8,39,"(15394.333, 25855.0]"
3218,72151,Puerto Rico,Yabucoa Municipio,35025,16984.0,18041.0,99.9,0.1,0.0,0.0,...,0.1,30.5,7878.0,62.7,30.9,6.3,0.0,25.4,39,"(25855.0, 45751.333]"
3219,72153,Puerto Rico,Yauco Municipio,37585,18052.0,19533.0,99.8,0.2,0.0,0.0,...,5.0,24.4,8995.0,66.4,28.7,5.0,0.0,24.0,39,"(25855.0, 45751.333]"